<style>
    .error{
        color:red;
    }
    </style>
<script>
    $(document).ready(function () {
        $("#btnSave").click(function () {            
            if ($("form").validate()) {
                $("form").submit();
            }
        });
    });
</script>
<h2>{{Title}}</h2>
<form action="/user/create" method="POST" class="form-horizontal" role="form" novalidate>
    <div class="form-group">
        <label class="col-md-2">Name</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="name" data-rule-required="true" data-msg-required="Please Enter Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2">Username</label>
        <div class="col-md-10">
            <input type="text" class="form-control" name="username" data-rule-required="true" data-msg-required="Please Enter Username"
            />
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-md-2">Address</label>
        <div class="col-md-10">
            <textarea class="form-control" name="address" data-rule-required="true" data-msg-required="Please Enter Address"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2">Designation</label>
        <div class="col-md-10">
            <textarea class="form-control" name="designation" data-rule-required="true" data-msg-required="Please Enter Designation"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-10 col-md-offset-2">
            <button type="button" id="btnSave" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>