<h2>{{Title}}</h2>
<a class="btn btn-success" href="/user/create">Create</a>
<hr>
<table class="table table-hover">
    <thead>
        <tr>           
            <th>Name</th>
            <th>Username</th>
            <th>Address</th>
            <th>Designation</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each data}}
        <tr>           
            <td>{{this.name}}</td>
            <td>{{this.username}}</td>
            <td>{{this.address}}</td>
            <td>{{this.designation}}</td>
            
             <td>
                <a href="/user/edit/{{this._id}}" class="btn btn-success">Edit</a>    
                <a href="/user/delete/{{this._id}}" class="btn btn-warning">Delete</a>    
             </td>
        </tr>
        {{/each}}
    </tbody>
</table>

