<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{Title}}</title>
    <link href="/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="/jquery/dist/jquery.js"></script>
    <script src="/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/jquery-validation/dist/jquery.validate.js"></script>
</head>

<body>
    <div class="navbar navbar-default">
        <a class="navbar-brand" href="#">Title</a>
        <ul class="nav navbar-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about">About Us</a>
            </li>
            <li>
                <a href="/users">Users</a>
            </li>
        </ul>
    </div>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>