.navbar.navbar-default {
    background: #3C8DBC;
}
.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-logo, .coming-soon .brand .logo, .login .login-header .brand .logo {
    border-color: #fff #000 #fff !important;
}
.sidebar, .sidebar-bg {
    background: #222D32 !important;
}
.sidebar .nav>li.nav-profile .info small {
    display: block;
    color: #fff;
}
.sidebar .nav>li>a{color: #b8c7ce;}
.sidebar .nav>li>a {
    color: #b8c7ce;
    font-size: 15px;
}
body{background: #fff}
.sidebar .nav>li>a {
    color: #fff;
    font-size: 13px;
    border-bottom: 1px solid #ccc;
}
.info {
    margin-bottom: 30px;
}
.user-name {
    color: #fff;
}
.user-name + b {
    color: #fff !important;
}
.bell-icon {
    color: #fff;
}
.sidebar .nav>li.nav-profile{background: #222D32;}
.navbar-form .form-control{width:100%;}
.full-width .form-group {
    width: 100%;
}
.navbar-form {
    padding: 0px;
}
.navbar-form .form-control {
    width: 100%;
    border-radius: 0px;
    padding: 20px 15px;
}
.navbar-form .form-control:focus{width: 100% !important}
.navbar-form .btn-search {
    margin-top: 4px;
}