<!-- Form used for updation of data into database -->
<form class="form-horizontal alert alert-warning" id="editForm" ng-submit="UpdateInfo(currentUser)" hidden>
<h3 class="text-center">Update Deal Details</h3>
	
	<div class="form-group">
		<label for="DealId">Deal Id:</label>
		<input type="text" class="form-control" ng-model="currentUser.deal_dealid" value="{{currentUser.deals_dealid}}">
	</div>
	<div class="form-group">
		<label for="DealName">Deal Name:</label>
		<input type="text" class="form-control" ng-model="currentUser.deals_dealname" value="{{currentUser.deals_dealname}}">
	</div>
	
	<div class="form-group">
		<label for="DealAlias">Deal Alias:</label>
		<input type="text" class="form-control" ng-model="currentUser.deals_dealalias" value="{{currentUser.deals_dealalias}}">
	</div>
	
	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="dealList.$invalid" ng-click="updateMsg(currentUser.deals_dealid)">Update</button>
	</div>
</form>
