<!-- Form used to add new entries of deals in database -->
<form class="form-horizontal alert alert-warning" name="dealList" id="dealForm" ng-submit="insertInfo(dealInfo);" hidden>
<h3 class="text-center">Insert Deals Details Into Database</h3>
	<div class="form-group">

		<div class="form-group">
		<label for="DealId">Deal Id:</label>
		<input type="text" name="deal_id" class="form-control" placeholder="Enter deal Id" ng-model="dealInfo.id" autofocus required />
		</div>
	   <div class="form-group">
		<p class="text-danger" ng-show="dealList.deal_id.$invalid && dealList.deal_id.$dirty">Deal id is Empty!</p>
	</div>
		<label for="DealName">Deal Name:</label>
		<input type="text" name="deal_name" class="form-control" placeholder="Enter deal Name" ng-model="dealInfo.dealname" value="" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="dealList.deal_name.$invalid && dealList.deal_name.$dirty"> Deal Name field is Empty!</p>
	</div>
	<div class="form-group">
		<label for="DealAlias">Deal Alias:</label>
		<input type="text" name="deal_alias" class="form-control" placeholder="Enter deal Alias" ng-model="dealInfo.dealalias" autofocus required />
	</div>
	<div class="form-group">
		<p class="text-danger" ng-show="dealList.deal_alias.$invalid && dealList.deal_deal_alias.$dirty">Invalid alias!</p>
	</div>
		

	<div class="form-group">
		<button class="btn btn-warning" ng-disabled="dealList.$invalid">Add Into Database</button>
	</div>
</form>